@charset "utf-8";
/* CSS Document */
body{background: #f5f5f5;}


/*banner*/
.banner{position:relative;width:100%; height:320px;padding-top:70px;}
.banner .flexslider{ width:100%; height:320px; position:relative; zoom:1; overflow:hidden; top:0px;}
.banner .flex-viewport{height: 100%;}
.banner .slides{ display:block; height:100%; position:relative; zoom:1;}
.banner .slides li{ height:100%; float:left; overflow:hidden; position:relative;}
.banner .slides li img{width: 100%; height:100%;}
.banner .flex-direction-nav a{ display:none; width:33px;height:64px;overflow:hidden;margin-top:-32px;display:block;position:absolute;top:50%;z-index:1;cursor:pointer;}
.banner .flex-control-nav{width:100%;position:absolute;bottom:20px; left:0; text-align:center;}
.banner .flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;cursor: pointer;}
.banner .flex-control-nav li a{display:block;width:30px;height:8px;background:#e9e9e9;font-size:0;}
.banner .flex-control-nav li a.flex-active{height:10px;background: #f44103;}
.flexs_right{position:absolute;top:70px;left:50%;width:1200px;margin-left:-600px;}
.flexs_ewm,.flexs_ewm a{background:url(../images/down.png) no-repeat rgba(255, 255, 255, 0.8);}
.flexs_ewm{/*position:absolute;top:10px;left:0px;*/position:relative;margin-top:20px;width:240px;height:300px;}
.flexs_ewm a{position:absolute;top:238px;display:block;width:105px;height:42px;transition:background .4s ease;-webkit-transition:background .4s ease;-moz-transition:background .4s ease}
.flexs_ewm a.pc{left:10px;background-position: -10px -318px;}
.flexs_ewm a.mobile{left:125px;background-position: -125px -318px;}
.flexs_ewm a.pc:hover{background-position: -10px -360px;}
.flexs_ewm a.mobile:hover{background-position: -125px -360px;}
/*banner*/

/*推荐主播*/
.h_live{padding-bottom:50px;}
.h_live_left{width:950px;}
.h_live .h_title{position:relative;height:35px;margin:10px 0px 15px;font:normal 26px/26px "Microsoft Yahei";color:#000;}
.wide_title_color{font-weight:normal;color:#e62b66;}
.h_live .h_title span.mfont{padding-left:8px;}
.h_live .htitle01{height:48px;padding-left:118px;background: url(../images/recommend_anchor_title.png) no-repeat left center;}
.h_live .h_title span{color:#878787;font:italic 12px/48px "Microsoft YaHei","宋体";}
.h_live .htitle01 span{font:italic 12px/82px "Microsoft YaHei","宋体";}
.h_live .slideBox{ width:370px; height:280px;margin-right:10px; overflow:hidden; position:relative;}
.h_live .slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:35px; z-index:1; }
.h_live .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.h_live .slideBox .hd ul li{ position:relative;float:left; margin-right:2px;  width:10px; height:10px; line-height:14px;border:2px solid #fff; text-align:center;cursor:pointer; }
.h_live .slideBox .hd ul li.on{ background:#ff7506;border-color:#ff7506; color:#fff; }
.h_live .slideBox .bd{ position:relative; height:100%; z-index:0;   }
.h_live .slideBox .bd li{ zoom:1; vertical-align:middle; }
.h_live .slideBox .bd img{ width:450px; height:280px; display:block;  }
.h_live .pic_int{position:absolute;bottom:0;left:0;width:340px;height:58px;padding:0 20px 0 10px;background:url(../images/live_bg.png) no-repeat top left;}
.h_live .pic_int .pic_n{display:inline-block;padding-top:5px;font:normal 14px/20px "Microsoft Yahei";color:#ff7506;}
.h_live .pic_int .pic_n2{padding-top:5px;font:normal 12px/20px "Microsoft Yahei";color:#fff;}
.h_live .pic_int .pic_n2 span{float:left;}
.h_live .pic_int .pic_n2 b,.plpeo{padding-left:18px;float:right;background:url(../images/people.png) no-repeat left center;font-weight:normal;}
.hroom li{position:relative;float:left;width:180px;height:180px;margin:0 10px 10px 0;overflow: hidden;}
.hroom li .opac{position:absolute;bottom:0;left:0;width:180px;height:22px;background: #3c2424;opacity: 0.75;filter:alpha(opacity=75);}
.hroom li .room1_int{display:block;position:absolute;top:0;left:0;width:165px;height:180px;padding:0 10px 0 5px;overflow:hidden;}
.hroom li .room1_int b{display:inline-block;width:60px;height:60px;margin:45px 0 30px 60px;background: url(../images/icon_play.png) no-repeat center;visibility:hidden;}
.hroom .roomid,.hroom .mvname{display:block;height:20px;*padding-top:1px;font:normal 12px/20px "Microsoft Yahei";color:#fff;}
.hroom .mvname span.nam{float:left;}
.hroom li .roomid{visibility:hidden;}
.hroom li:hover .room1_int b,.hroom li:hover .roomid{visibility:visible;}
.hroom li:hover .room1_int b{-webkit-animation: trans 0.6s ease;-moz-animation: trans 0.6s ease;animation: trans 0.6s ease;}
@keyframes trans{
	0%{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);}
	100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);}
}
@-webkit-keyframes trans{
	0%{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);}
	100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);}
}
@-moz-keyframes trans{
	0%{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);}
	100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);}
}
.hroom .roomimg{position:relative;display:block;width:180px;height:180px;overflow: hidden;}
.hroom li .roomimg .rimg{transition:0.6s ease;-webkit-transition:0.6s ease;-moz-transition:0.6s ease;}
.hroom li:hover .roomimg .rimg{transform:scale(1.2); -webkit-transform:scale(1.2);-moz-transform:scale(1.2);}
/*推荐主播*/

/*我的秀场*/
.square li .opac{height:180px;}
.room_2{margin-top:10px;border-top:2px solid #f3ecec;}
.room_2 li{width:180px;height:235px;background:#fff;}
.room_2 .opac{height:180px;display:none;top:0;}
.room_2 li .roomid{position:absolute;bottom:10px;left: 5px;}
.room_2 li:hover .opac{display:block;}
.room_2 .room_pro{position:relative;padding-top:10px;padding-left:5px;}
.room_2 .room_pro p a{font:normal 12px/20px "Microsoft Yahei";color:#333;}
.room_2 .room_pro p a:hover{color:#f44103;text-decoration: underline;}
.room_2 .room_pro .plpeo{float:left;padding:0;background:none;color:#999;}
.room_2 .room_pro .plpeos{float:right;margin-right:2px;}
.room_2 .hleve{position:absolute;top:20px;right:0;display:block;width:35px;height:20px;}
/*.hleve{background:url(../images/userLevel_vv8.gif) no-repeat;}*/
.room_2 .le01{background-position:0 0;}
.room_2 .le02{background-position:-600px 0;}
.room_2 .le03{background-position:-500px 0;}
.room_2 .le04{background-position:-400px 0;}
.room_2 .le05{background-position:-300px 0;}
.roombq{position:absolute;top:0px;left:0;width:180px;}
.roombq .roomtj{display:inline-block;float:right;width:32px;height:19px;background:#e62b66;color:#fff;text-align: center;}
/*我的秀场*/

/*热门家族*/
.room_2 .hleve02{position:absolute;top:10px;right:10px;border-radius:50%;}
.hmore_fy{position:absolute;top:20px;right:10px;padding-left:20px;background:url(../images/groom-change-v2.png) no-repeat 0px 2px;font:normal 12px/20px "Microsoft Yahei";color:#878787;}
.hmore_fy:hover{background-position:0px -28px;color:#f44103;}
.hot_room{height:60px;}
.hot_room_tab{height:30px;margin-left:10px;padding:15px 0;}
.hot_room_tab span{float:left;height:30px;width:70px;margin-right:12px;font:normal 14px/30px "Microsoft Yahei";color:#878787;text-align:center;cursor: pointer;}
.hot_room_tab span.on,.hot_room_tab span:hover{background:#e62b66;color:#fff;border-radius:5px;}
/*热门家族*/
.sign_view a{display:block;width:220px;height:40px;color:#fff;text-align:center;font:normal 20px/40px "Microsoft Yahei";border-radius:5px;background:#ff4974;margin:20px auto;}
.sign_view a:hover{background: #E43861;}

.h_live_right{width:248px;}
/*新闻，公告*/

.information_wai{width:248px;margin:20px 0;background:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.indexAhoTitle .titleName{float:left;font:normal 20px/30px "Microsoft Yahei";color:#393939;}
.information_nav{height:53px;background:#333;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;}
.information_nav li{position:relative;float:left;width:82px;text-align: center;font:normal 20px/53px "Microsoft Yahei";color:#ccc;cursor: pointer;}
.information_nav li.Rline{width:1px;color:#5c5c5c;}
.information_con{padding:34px 24px;}
.information_con li a{display:block;height:25px;width:187px;overflow:hidden;padding:0 20px;font:normal 14px/22px "Microsoft Yahei";color:#9a9a9a;text-overflow: ellipsis;white-space: nowrap;}
.information_nav_bg{position:absolute;left:0px;top:-10px;z-index:12px;width:82px;height:95px;}
.information_nav_bg .chang{display:block;width:82px;height:76px;background: #ff4974;font:normal 20px/70px "Microsoft Yahei";color:#fff;border-radius: 8px 8px 0 0;}
.triangle-down01{position:relative;left:-32px;top:0;width:0;height:0;border-left:0px solid transparent;border-right:18px solid transparent;border-top:20px solid #ff4974;}
.information_nav_bg .changnew{border-radius: 8px 2px 0 0;-webkit-border-radius: 8px 2px 0 0;-moz-border-radius: 8px 2px 0 0;}
/*新闻，公告*/

.new_beauty{width:248px;height:180px;margin:20px 0;}
.new_beauty .slideBox2{ width:248px; height:180px;margin-right:10px; overflow:hidden; position:relative;}
.new_beauty .slideBox2 .hd{ height:15px; overflow:hidden; position:absolute; left:50%; bottom:10px; z-index:1;margin-left:-15px; }
.new_beauty .slideBox2 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.new_beauty .slideBox2 .hd ul li{ position:relative;float:left; margin-right:2px;  width:8px; height:8px; line-height:14px;border:1px solid #fff;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; text-align:center;cursor:pointer; }
.new_beauty .slideBox2 .hd ul li.on{ background:#ff7506;border-color:#ff7506; color:#fff; }
.new_beauty .slideBox2 .bd2{ position:relative; height:100%; z-index:0;   }
.new_beauty .slideBox2 .bd2 li{ zoom:1; vertical-align:middle; }

.interaction{width:248px;padding-top:20px;background:#fff;}
.interaction .loginbtn{display:block;width:210px;height:52px;margin:0 auto 20px;background:#fff;border:1px solid #fa265d;border-radius: 3px;color:#fa265d;font:normal 22px/52px "Microsoft Yahei";text-align:center;cursor: pointer;}
.interaction .loginpath a{display:block;float:left;height:20px;width:56px;margin-left:45px;padding-top:56px;color:#606162;font:normal 14px/20px "Microsoft Yahei";}
.interaction .loginpath a.qqlogin{background: url(../images/qq_d.png) no-repeat top center;}
.interaction .loginpath a.wblogin{background: url(../images/sine.png) no-repeat top center;}
.interaction .loginB{padding:15px 19px;text-align:right;}
.interaction .loginB a{margin-left:5px;color:#2693ff;}
.interaction .loginbtn:hover{background:#fa265d;color:#fff;}

.indexRightBgF{margin:20px 0;}
.indexAhoTitle{padding-bottom:15px;font:normal 24px/25px "Microsoft Yahei";color:#000;}
.mv_list{padding:10px 15px 2px;background:#fff;}
.mv_list li{margin-bottom:10px;border-bottom:1px solid #dcdcdc;}
.mv_list li p{margin:10px 0;}
.mv_list li .time{float:left;color:#9b9b9b;}
.mv_list li .name{float:right;color:#000;}
.Star_list_nav li{float:left;height:26px;padding:0 16px;font:normal 12px/26px "Microsoft Yahei";color:#666;cursor:pointer;}
.Star_list_nav li.back{background: url(../images/shux.jpg) no-repeat left center;}
.Star_list_nav li.on{position:relative;z-index:1;height:27px;margin-bottom:-1px;color:#ff3380;background:#fff;border:1px solid #edecf0;border-bottom:1px solid #fff;border-radius:5px 5px 0px 0px/5px 5px 0px 0px;}
.star_nav_con{height:auto;width:248px;max-height:290px;background:#fff;border:1px solid #edecf0;border-radius: 0 8px 8px 8px;}
.star_nav_con li{height:292px;}
.star_nav_con .div{height:40px;width:238px;clear:both;padding:7px 10px 7px 0;overflow: hidden;}
.star_nav_con .first_star{height:60px;padding:6px 10px 10px 0px;}
.first_star span{display: block;float:left;}
.span_img{float:left;width:44px;height:60px;background:url(../images/num_list.png) no-repeat;text-align:center;}
.span_img1{background-position: 13px 18px;}
.img_pic_first{width:60px;height:60px;margin-right:5px;border-radius:50%;overflow:hidden;}
.img_pic_first img{width:54px;height:54px;border:3px solid #fff100;border-radius:50%;cursor: pointer;}
.first_color{max-width: 85px;height:60px;margin-left:5px;cursor: pointer;overflow: hidden;}
.first_color1{height:60px;width:82px;overflow: hidden;}
.first_color2{display:block;float:left;width:100px;overflow: hidden;}
.first_color1 a{display:inline-block;height:60px;color:#ff3380;font:normal 12px/60px "Microsoft Yahei";}
.first_color2 a{color:#000;font:normal 12px/40px "Microsoft Yahei";}
.star_leve{float:right;display:block;width:47px;height:20px;margin-top:10px;}
.first_leve{margin-top:20px;}
.zlv1,.zlv{background:url(../images/devel/1.png) no-repeat center;}
.zlv2{background:url(../images/devel/2.png) no-repeat center;}
.zlv3{background:url(../images/devel/3.png) no-repeat center;}
.zlv4{background:url(../images/devel/4.png) no-repeat center;}
.zlv5{background:url(../images/devel/5.png) no-repeat center;}
.zlv6{background:url(../images/devel/6.png) no-repeat center;}
.zlv7{background:url(../images/devel/7.png) no-repeat center;}
.zlv8{background:url(../images/devel/8.png) no-repeat center;}
.zlv9{background:url(../images/devel/9.png) no-repeat center;}
.zlv10{background:url(../images/devel/10.png) no-repeat center;}
.zlv11{background:url(../images/devel/11.gif) no-repeat center;}
.zlv12{background:url(../images/devel/12.gif) no-repeat center;}
.zlv13{background:url(../images/devel/13.gif) no-repeat center;}
.zlv14{background:url(../images/devel/14.gif) no-repeat center;}
.zlv15{background:url(../images/devel/15.gif) no-repeat center;}
.zlv16{background:url(../images/devel/16.gif) no-repeat center;}
.zlv17{background:url(../images/devel/17.gif) no-repeat center;}
.zlv18{background:url(../images/devel/18.gif) no-repeat center;}
.zlv19{background:url(../images/devel/19.gif) no-repeat center;}
.zlv20{background:url(../images/devel/20.gif) no-repeat center;}
.zlv21{background:url(../images/devel/21.gif) no-repeat center;}
.zlv22{background:url(../images/devel/22.gif) no-repeat center;}
.zlv23{background:url(../images/devel/23.gif) no-repeat center;}
.zlv24{background:url(../images/devel/24.gif) no-repeat center;}
.zlv25{background:url(../images/devel/25.gif) no-repeat center;}
.zlv26{background:url(../images/devel/26.gif) no-repeat center;}
.zlv27{background:url(../images/devel/27.gif) no-repeat center;}
.zlv28{background:url(../images/devel/28.gif) no-repeat center;}
.zlv29{background:url(../images/devel/29.gif) no-repeat center;}
.zlv30{background:url(../images/devel/30.gif) no-repeat center;}
.car0,.car{background:url(../images/devel/wealth/0.png) no-repeat center;}
.car1{background:url(../images/devel/wealth/1.png) no-repeat center;}
.car2{background:url(../images/devel/wealth/2.png) no-repeat center;}
.car3{background:url(../images/devel/wealth/3.png) no-repeat center;}
.car4{background:url(../images/devel/wealth/4.png) no-repeat center;}
.car5{background:url(../images/devel/wealth/5.png) no-repeat center;}
.car6{background:url(../images/devel/wealth/6.png) no-repeat center;}
.car7{background:url(../images/devel/wealth/7.png) no-repeat center;}
.car8{background:url(../images/devel/wealth/8.gif) no-repeat center;}
.car9{background:url(../images/devel/wealth/9.gif) no-repeat center;}
.car10{background:url(../images/devel/wealth/10.gif) no-repeat center;}
.car11{background:url(../images/devel/wealth/11.gif) no-repeat center;}
.car12{background:url(../images/devel/wealth/12.gif) no-repeat center;}
.car13{background:url(../images/devel/wealth/13.gif) no-repeat center;}
.car14{background:url(../images/devel/wealth/14.gif) no-repeat center;}
.car15{background:url(../images/devel/wealth/15.gif) no-repeat center;}
.car16{background:url(../images/devel/wealth/16.gif) no-repeat center;}
.car17{background:url(../images/devel/wealth/17.gif) no-repeat center;}
.car18{background:url(../images/devel/wealth/18.gif) no-repeat center;}
.car19{background:url(../images/devel/wealth/19.gif) no-repeat center;}
.car20{background:url(../images/devel/wealth/20.gif) no-repeat center;}
.car21{background:url(../images/devel/wealth/21.gif) no-repeat center;}
.car22{background:url(../images/devel/wealth/22.gif) no-repeat center;}
.car23{background:url(../images/devel/wealth/23.gif) no-repeat center;}
.car24{background:url(../images/devel/wealth/24.gif) no-repeat center;}
.car25{background:url(../images/devel/wealth/25.gif) no-repeat center;}
.car26{background:url(../images/devel/wealth/26.gif) no-repeat center;}
.car27{background:url(../images/devel/wealth/27.gif) no-repeat center;}
.car28{background:url(../images/devel/wealth/28.gif) no-repeat center;}
.car29{background:url(../images/devel/wealth/29.gif) no-repeat center;}



.span_img2{background-position:13px -54px;}
.span_img3{background-position:13px -107px;}
.span_img4{background-position:13px -162px;}
.span_img5{background-position:13px -212px;}
.img_pic{width:36px;height:36px;float:left;margin:0px 8px 0px 3px;overflow: hidden;}
.img_pic img{width:36px;height:36px; border-radius: 50%;cursor: pointer;}
.con_color{display:block;float:left;max-width: 85px;height:40px;cursor: pointer;overflow: hidden;}
.con_color a{color:#000;font:normal 12px/40px "Microsoft Yahei";}

.rich_list,.mx_list{margin:20px 0;}

/*在线客服*/
.online_customer_wai{position:relative;width:248px;background:#fff;border-radius: 0 8px 0 8px;}
.online{position:absolute;top:0;left:-5px;}
.online_top{display:block;width:107px;height:36px;background: #ff4974;font:normal 18px/36px "Microsoft Yahei";color:#fff;text-align: center;}
.online_bottom{display:block;width:0;height:0;border-left:6px solid transparent;border-right:0px solid transparent;border-top:5px solid #ff4974;}
.online_customer{width:246px;border:1px solid #edecf0;border-radius: 0 8px 0 8px;}
.online_customer_top{width:227px;background:#fff;padding-top:43px;padding-left: 16px;border-radius: 0 8px 0 0px;}
.online_customer_top li{height:30px;font:normal 14px/28px "Microsoft Yahei";color:#949494;}
.online_customer_top li a img{vertical-align:middle;}
.online_customer_bottom{height:0;width:170px;border-left: 0px solid transparent;border-right:60px solid transparent;border-top:28px solid #fff;overflow: hidden;border-radius: 0 0 0 8px;}
.online_customer_triangle{position:absolute;right:-1px;bottom:0;width:0;height:0;border-bottom:26px solid #f5f5f5;border-left:60px solid transparent;}

/*在线客服*/




/*游戏*/
.game_interaction{margin-top:30px;}
.games .roombq .roomtj{width:50px;}
.games .room_2{border:0;}
/*游戏*/













