/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul,input,select,button,textarea { padding:0; margin:0; border:none;}
input,button,select,textarea,a,img{outline:none; text-decoration: none;}/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
::-moz-focus-inner{border:0px;}/*火狐的私有属性去掉点击时边框*/
body {font-family:"Microsoft YaHei","Arial", "SimSun";}
html,body{ width:100%;font-size:12px;background:#edf3f3;}
a img {	border:none;}
ul, ul li, ol li, li {	list-style:none;}
table {	border-collapse: collapse;border-spacing:0;}
input, textarea {border: 0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
* html .clearfix {zoom: 1;}
*:first-child + html .clearfix {zoom: 1;}
.fl {	float:left;}
.fr {	float:right;}
.none{	display:none;}
.title{position:fixed;top:0;left:0;height:40px;width:100%;background:#8ee2d3;font:normal 16px/40px "Microsoft YaHei";color:#fff;text-align:center;}
.title span{position:absolute;top:0px;left:0px;display:inline-block;width:50px;height:40px;background:url(../images/back.png) no-repeat center;}
.setup_list h2{background:#f1eded;font:normal 14px/40px "Microsoft YaHei";color:#333;padding-left:10px;}

.setup_list > ul{margin:10px 0;border-top:1px solid #eee;border-bottom:1px solid #eee;padding-left:10px;background:#fff;}
.setup_list > ul li{height:40px;width:100%;border-bottom:1px solid #eee;}
.setup_list > ul li:last-child{border:0;}
.setup_list > ul li a{display:block;color:#333;line-height:40px;background:url(../images/arrow.png) no-repeat 95% center;}
.signout a{display:block;width:100%;height:40px;line-height:40px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#fff;text-align:center;color:#333;}
.sethelp{padding-bottom:50px;}
.sethelp > ul{margin:0;}
.sethelp > ul li a{color:#666;background:url(../images/sprite-arrows.png) no-repeat 95% center;}
.allquest{background:#fff;}
.allquest a{display:block;float: left;width:49%;height:65px;font:normal 14px/65px "Microsoft YaHei";color:#999;text-align:center;}
.allquest .quest1{background:url(../images/quest1.jpg) no-repeat 20px center;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.allquest .quest2{background:url(../images/quest2.jpg) no-repeat 20px center;border-bottom:1px solid #eee;}
.allquest .quest3{background:url(../images/quest3.jpg) no-repeat 20px center;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.allquest .quest4{background:url(../images/quest4.jpg) no-repeat 20px center;border-bottom:1px solid #eee;}

.setup_footer{position:fixed;bottom:0;left:0;padding:10px 0;width:100%;background:#fff;}
.setup_footer a{display:block;float:left;height:20px;width:49%;color:#8ee2d3;font:normal 12px/20px "Microsoft YaHei";text-align:center;}
.setup_footer a:first-child{border-right:1px solid #8ee2d3;}

.setup_con{padding:0 10px;margin-top:45px;background:#fff;word-break:break-all;}
.setup_con h2{font:600 12px/35px "Microsoft YaHei";color:#000;border-bottom:1px solid #ddd;}
.setup_text{position:relative;padding-bottom:40px;min-height:260px;line-height:24px;color:#555;}
.setup_text p{position:absolute;bottom:0;text-align: center;width:100%;}
.setup_text span{color:#8ee2d3;}
.call_kf{display:block;width:100%;text-align:center;color:#8ee2d3;font:normal 12px/30px "Microsoft YaHei";}

.about_con{padding:5px 10px 10px;background:#fff;}
.about_con h2{color:#8ee2d3;font:bold 14px/25px "Sans","Microsoft YaHei";text-align:center;}
.about_con h3{padding-top:10px;color:#8ee2d3;font:bold 12px "Sans","Microsoft YaHei";}
.about_con p{text-indent:20px;font-size:12px;line-height:20px;}

.applev{position:relative;width:100%;}
.applev img{display:block;}
.levone{position:absolute;left:0;width:100%;font:normal 1.25rem/35px "Microsoft YaHei";text-align:  center;color:#fff;}
@media screen and (max-width:319px){ 
.levone{top:6%;}
} 
@media screen and (min-width:320px) and (max-width:569px) { 
.levone{top:8%;}
} 
@media screen and (min-width:570px) and (max-width:670px) { 
.levone{top:12%;}
} 
@media screen and (min-width:671px) and (max-width:1023px) { 
.levone{top:13%;}
}
@media screen and (min-width:1024px) and (max-width:1280px){ 
.levone{top:14%;}
}
.applevtq{padding:10px;border:0;}
.applevtq .levt{font:normal 16px "Microsoft YaHei";color:#333;padding:5px 0;}
.applevtq .levtxt{font:normal 14px/20px "Microsoft YaHei";color:#555;}

/*分享*/
.share_bigimg{position: relative;margin-bottom:2px;}
.share_bigimg img{display:block;}
.share_bigimg dl dd{height:50px;padding:10px;background:#fff;}
.playimg{display:block;width:60px;height:60px;position:absolute;top:50%;margin-top:-30px;left:50%;margin-left:-30px;cursor:pointer;border-radius:50%;background:rgba(0, 0, 0, 0.4)}
.tshare_pic{display:block;width:50px;height:50px;float:left;border-radius:50%;margin-right:10px;}
.tshare_pic img{border-radius:50%;}

.tshare_intro{float:left;height:50px;}
.anchor_info{height:30px;line-height:30px;}
.anchor_info a{display:inline-block;color:#555;font-size:12px;margin-right:10px;}
.anchor_info b{display:inline-block;background:#e86d81;vertical-align:middle;}
.ancor_hao{color:#999;}
.follow_btn{display:block;float:right;margin-top:15px;width:80px;height:30px;background:#51d8d1;color:#fff;line-height:30px;text-align:center;border-radius:15px;}
@media screen and (max-width:294px) { 
.share_bigimg dl dd{position:relative;}
.follow_btn{position:absolute;right:10px;bottom:15px;}
}
.share_hot_tab{width:100%;height:50px;background:#fff;}
.share_hot_tab span{display:block;float:left;width:50%;height:48px;line-height:48px;text-align:center;color:#666;cursor:pointer;}
.share_hot_tab span.active{color:#4ed7cf;border-bottom:2px solid #4ed7cf;}

.share_hot_list{padding:1% 0 1% 1%;}
.share_hot_list dl{width:49%;float:left;margin-right:1%;background:#fff;font-size:12px;}
.share_hot_list dl dt{position:relative;}
.share_hot_list dl dt a img,.share_hot_list dl dt a{display:block;}
.share_hot_list dl dd{height:34px;width:100%;color:#666;overflow:hidden;}

.share_person{position:absolute;bottom:0;left:0;width:100%;height:16px;line-height:16px;color:#fff;background:url(../images/sharebg.png) repeat-x top left;overflow:hidden;}
.share_person b{display:block;float:left;height:16px;margin-right:2px;}

.share_back_list dl{width:100%;height:50px;}
.share_back_list dl dd{position:relative;height:50px;}
.share_back_list .anchor_info a{width:80px;height:30px;float:left;overflow:hidden;}
.share_back_list .anchor_info span{position:absolute;right:0px;top:0px;display:block;width:70px;height:30px;overflow:hidden;}
.share_back_list .anchor_info span img{vertical-align:middle;}
.share_back_list .anchor_info i{display:block;width:90px;height:30px;overflow:hidden;font-style:normal;float:left;}
.ancor_back_btn b{display:block;width:30px;height:20px;text-align:center;line-height:20px;color:#fff;background:#51d8d1;}
.share_back_list .tshare_pic{width:30px;height:30px;margin-top:10px;}

.share_main{position:relative;}
.share_dowm{position:absolute;top:0;left:0;width:100%;height:70px;background:rgba(0,0,0,0.4);}
.share_img{float:left;display:block;padding-top:5px;padding-left:15px;}
.share_mlibo{float:left;padding-top:10px;margin-left:15px;}
.share_mlibo span{display:block;font:normal 14px 'Microsoft YaHei';color:#fff;}
.share_mlibo span.share_tt{font-size:16px;}
.sharedown_btn{float:right;display:block;width:80px;height:30px;margin-right:15px;margin-top:20px;border:1px solid #fff;border-radius:15px;color:#eee;text-align:center;font:normal 14px/30px "Microsoft YaHei";}
.sharedown_btn:active{color:#fff;background:#51d8d1;border-color:#51d8d1;}

.share_code{position:fixed;left:50%;bottom:10px;width:200px;height:240px;margin-left:310px;font:normal 16px 'Microsoft YaHei';}



.feedback{padding-top:45px;}
.feedback .textinput{padding-bottom:15px;}
.feedback .feed_title{float:left;width:81%;height:35px;border:1px solid #eee;font:normal 12px/35px "Microsoft YaHei";}
.feedback label{float:left;display:block;height:35px;line-height:35px;width:40px;padding-left:2%;text-align:right;}
.feedback .back_q{float:left;border:1px solid #eee;width:81%;height:200px;}
.feedback .feedback_btn{padding-top:10px;}
.feedback .submit{display:block;width:80px;height:30px;margin-left:45px;background:#8ee2d3;border-radius:3px;color:#fff;font:normal 12px 'Microsoft YaHei';}



/*侧边下载导航*/
.mm-downloads-wrap{position: fixed;right: 0;z-index: 999;top: 20%;box-shadow: 1px 1px 5px 1px rgba(37,37,37,.47);background: #FFF;height: 213px;width: 147px;overflow: hidden;border-top-left-radius: 8px;border-bottom-left-radius: 8px;-webkit-border-top-left-radius: 8px;-webkit-border-bottom-left-radius: 8px;}
.mm-download-title{font-size: 16px;color: #333;line-height: 40px;text-align: center;font-weight: 400;cursor: default;}
.mm-download-container{height: 110px;width: 156px;text-align: center;}
.mm-btn-group{color: #c9c9c9;font-size: 16px;line-height: 47px;}
.mm-mac-icon{ background: url(../img/mmIcon.png) -5px -5px no-repeat;height: 50px;width: 48px;margin-left: 17px;display: inline-block;}


