@charset "utf-8";
/* CSS Document */
/*body{background:url(../images/mod0_v2.jpg) no-repeat top center;}*/
em{font-style:normal;}
.ml15{margin-left:15px;}
.mr10{margin-right:10px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.u_header{height:255px;padding-top:70px;color:#fff;}
.uphoto{float:left;}
.uphoto img{border-radius:50%;border:3px solid #fff;margin-bottom:17px;width:150px;height:150px;vertical-align:middle;cursor:pointer;margin-top:32px;}
.bj_photo{text-align:center;}
.bj_photo a{color:#fff;display:inline-block;}
.bj_photo .bjIcon{display:inline-block;vertical-align:middle;width:11px;height:11px;margin-right:3px;background:url(../images/icon.png) no-repeat center;}
.userData{padding:70px 0 0 58px;font-size:14px;width:645px;float:left;}
.userData .starLV, .userData .zlevel{float:left;margin:10px 5px 0 0;}
.userData div{margin-bottom:20px;}
.u_nickname{font-size:24px;padding-right:10px;float:left;}
.level span{line-height:18px;}
.level b{width:51px;text-align: center;}
.icon_rich_level{display:inline-block;height:16px;width:43px;}
.icon_rich_level_0{background:url(../images/0.png) no-repeat center;}
.level .jy_bar{width:223px;height:14px;float:left;border:1px solid #B4223E;border-radius:5px;position:relative;overflow:hidden;margin:0 12px;top:1px;background:#B4223E;}
.level .jy_bar_cont{position:absolute;left:0;top:0;display:block;height:100%;background:#FA265D;width:50%;border-radius:5px; }
.level .jy_bar em{color:#fff;position:absolute;left:0;top:-2px;font-size:12px;font-style:normal;width:100%;display:inline-block;text-align: center;}
.icon_rich_level_1{background:url(../images/1.png) no-repeat center;}
.u_tab{height:45px;background:#fff;margin-bottom:10px;padding-top:15px;}
.u_tab .u_tab_left a{position:relative;float:left;width:100px;height:29px;font:normal 14px/29px "Microsoft YaHei";text-align:center;color:#686767;}
.u_tab .u_tab_left span{left:37%;bottom:-30px;z-index:10px;}
.u_tab_left .arror{position:absolute;display:none;width:0;height:0;border-width:0 15px 15px;border-style:solid;border-color:transparent transparent #fff;}
.u_tab .u_tab_left .tabon,.u_tab .u_tab_left a:hover{color:#fff;background:#ff4974;border-radius:15px;}
.u_tab .u_tab_left .tabon span{display:block;}
.u_tab .u_tab_right a{display:inline-block;float:left;padding:0 10px;margin:0 2px;height:29px;border-radius:5px;border:1px solid #ccc;font:normal 14px/29px "Microsoft YaHei";color:#686767;}
.u_tab .u_tab_right a:hover,.u_tab .u_tab_right a.hover{color:#fff;background:#ff4974;border-color:#ff4974;}

.usercenter_con{min-height:300px;background:#fff;padding:40px 0;margin-bottom:100px;}
.collect_top{color:#b5b5b5;border-bottom:1px solid #e6e6e6;padding-bottom: 5px;width:1100px;margin:0 auto;height:20px;}
.collect_top span{margin-right:20px;}
.collect_top span strong{color:#ccc;font-weight:bold;}
.collect_top label,.collect_top a{color:#ccc;}
.collect_top input{height:12px;margin-top:-3px;vertical-align:middle;}
.collect_list{padding:0 0 0 25px;}

/*偶像*/
.attention{min-height:300px;margin-bottom:100px;padding:20px 22px;background:#fff;overflow:hidden;}
.my-attention{width:800px;float:left;}
.my-attention h2{border-bottom:solid 1px #e6e6e6;color:#ccc;font:normal 14px/38px "Microsoft YaHei";padding-left:6px;}
.att_box{padding-top:16px;overflow:hidden;}
.att_box dl{height:66px;width:175px;float:left;overflow:hidden;display:inline;margin:0 0 20px 14px;}
.att_box dt{float:left;width:66px;display:inline;margin-right:10px;}
.att_box dt img,.my-peng .list img{border:1px solid #ddd;padding:2px;}
.att_box dd.tt{width:80px;float:left;padding-top:5px;line-height:18px;height:18px;overflow:hidden;}
.att_box dd.bt span{width:68px;display:inline-block;margin-top:10px;border:1px solid #dadada;height:18px;line-height:16px;text-align:center;background: #f0eeee;color:#999;cursor:pointer;}
.att_box dd.bt span.st1{width:50px;border:1px solid #26a903;background:#48ba03;color:#fff; }
.my-peng{float:right;width:325px;}
.my-peng .mptitle{font:bold 14px/25px "Microsoft YaHei";color:#ccc;margin-top:8px;padding-bottom:5px;border-bottom:1px solid #e6e6e6;}
.my-peng .mptitle span{font-weight:normal;}
.my-peng .index{background:#efefef;margin-top:1px;line-height: 25px;color:#999; }
.my-peng .index .pm{padding:0 10px;}
.my-peng .index .wp{padding-right:120px;padding-left:10px;}
.my-peng .list{margin-top:2px;}
.my-peng .list li{background:url(../images/line.gif) repeat-x bottom;padding-top:15px;height:80px;overflow:hidden;margin-top:-1px;}
.my-peng .list em{width:20px;height:20px;display:block;float:left;font:normal 14px/20px "stencil";color:#fd4717;margin-top:15px;margin-left:20px;}
.my-peng .list img{float:left;width:60px;height:60px;display:inline;margin-left:5px;}
.my-peng div.tt{display:inline;margin-left:10px;float:left;width:90px;}
.cracy{display:inline-block;width:43px;height:18px;}
.star.star0,.cracy.cra0{color:#fff;height:16px;line-height: 16px;text-align:center;}
.my-peng div.tt p{line-height:20px;height:40px;overflow: hidden;margin-top:5px;}
.my-peng .gxz{float:left;width:65px;text-align: center;overflow: hidden;margin-left:10px;margin-top:22px;color:#fd4717;font-weight:bold;}

/*偶像*/


/*靓号*/
.djsc_top{width:1100px;padding:0 5px;margin:0 auto;border-bottom: 1px solid #e8e8e8;height:25px;}
.djsc_top h4{font-size:14px;color:#ccc;width:200px;float:left;}
.djsc_top h4 cite{font-style:normal;font-weight:normal; }
.djsc_top span a{color:#f00;}
.djsc_list{width:1100px;margin:0 auto;padding-top:30px;}
.djsc_list table{width:1100px;border:1px solid #ccc;}
.djsc_list table td, .djsc_list table th{border:1px solid #e6e6e6;}
.djsc_list table th{background:#efefef;height:30px;color:#2B2C31; }
.djsc_list table td{padding:15px;line-height:30px;color:#2B2C31;}
.djsc_list .txt_table td{text-align:center;}
.c1{color:#25aa01;}
.txt_table td.numdeal{padding-left:140px;text-align:left;}
.numdeal span{color:#b5b5b5;}
.djsc_list table td li a,.numdeal a{border:1px solid #ccc;padding:2px 10px;margin-left:5px;color:#2B2C31;border-radius:3px;}
.numdeal a:hover{background:#ff4974;color:#fff;border-color:#ff4974;}

/*靓号*/

.mylinkshare button{width:60px;height:30px;margin-left:10px;cursor:pointer;color:#fff;background:#ff4974;font-size:12px;border-radius:5px;}
/*道具*/
.mydj{height:40px;}
.djsc_top span a.djbuy{display:block;width:86px;height:26px;line-height:23px;background:#ff4974;color:#fff;text-align:center;padding-top:2px;position:relative;top:-5px;right:20px;border-radius:5px;}
.djsc_top span a.djbuy:hover{background:#EB2D5A;}
span.props{display:inline-block;background:url(../images/vip.png) no-repeat;vertical-align:middle;width:22px;height:15px;margin:0 2px;zoom:1;overflow:hidden;}
.djsc_top .mydaoju{display:block;width:80px;height:35px;cursor:pointer;font:normal 14px/35px "Microsoft YaHei";text-align:center;border:1px solid #ddd;}
.djsc_top .mydaoju.active{background:#ff4974;color:#fff;border-color:#ff4974;}
.zuojia_list .daojuimg img{vertical-align:middle;margin-right:5px;}
.zuojia_list .shop_ico:hover{cursor:pointer;}
.zuojia_list table tr.on .numdeal a.qybuton{display:none;}




/*道具*/

/*房管*/
.house-v{width:1100px;margin:0 auto;margin-top:10px;border:solid 1px #e6e6e6;overflow: hidden;}
.house-box{float:left;width:550px;border-left: solid 1px #e6e6e6;margin-left:-1px;overflow: hidden;}
.house-box h3{padding-left:16px;height:28px;line-height:28px;border-bottom:solid 1px #e6e6e6;background-color: #efefef;color:#ccc;}
.house-box h3 span{font-weight:normal;}
.house-tip{padding:0 12px;overflow:hidden;}
.house-tip dl{width:408px;height:114px;padding:20px 6px;border-bottom: solid 1px #e6e6e6;}
.house-tip dt{float:left;width:109px;height:109px;border:solid 1px #dadada;padding:2px;}
.house-tip .info{float:left;margin-left:14px;width:182px;overflow:hidden;}
.house-tip .info p{line-height:20px;height:20px;margin-bottom: 4px;color:#ccc;white-space: nowrap;overflow: hidden;}
.star{display:inline-block;width:35px;height:20px;vertical-align:middle;}
.zlv1,.zlv{background:url(../images/devel/1.png) no-repeat center;}
.zlv2{background:url(../images/devel/2.png) no-repeat center;}
.zlv3{background:url(../images/devel/3.png) no-repeat center;}
.zlv4{background:url(../images/devel/4.png) no-repeat center;}
.zlv5{background:url(../images/devel/5.png) no-repeat center;}
.zlv6{background:url(../images/devel/6.png) no-repeat center;}
.zlv7{background:url(../images/devel/7.png) no-repeat center;}
.zlv8{background:url(../images/devel/8.png) no-repeat center;}
.zlv9{background:url(../images/devel/9.png) no-repeat center;}
.zlv10{background:url(../images/devel/10.png) no-repeat center;}
.zlv11{background:url(../images/devel/11.gif) no-repeat center;}
.zlv12{background:url(../images/devel/12.gif) no-repeat center;}
.zlv13{background:url(../images/devel/13.gif) no-repeat center;}
.zlv14{background:url(../images/devel/14.gif) no-repeat center;}
.zlv15{background:url(../images/devel/15.gif) no-repeat center;}
.zlv16{background:url(../images/devel/16.gif) no-repeat center;}
.zlv17{background:url(../images/devel/17.gif) no-repeat center;}
.zlv18{background:url(../images/devel/18.gif) no-repeat center;}
.zlv19{background:url(../images/devel/19.gif) no-repeat center;}
.zlv20{background:url(../images/devel/20.gif) no-repeat center;}
.zlv21{background:url(../images/devel/21.gif) no-repeat center;}
.zlv22{background:url(../images/devel/22.gif) no-repeat center;}
.zlv23{background:url(../images/devel/23.gif) no-repeat center;}
.zlv24{background:url(../images/devel/24.gif) no-repeat center;}
.zlv25{background:url(../images/devel/25.gif) no-repeat center;}
.zlv26{background:url(../images/devel/26.gif) no-repeat center;}
.zlv27{background:url(../images/devel/27.gif) no-repeat center;}
.zlv28{background:url(../images/devel/28.gif) no-repeat center;}
.zlv29{background:url(../images/devel/29.gif) no-repeat center;}
.zlv30{background:url(../images/devel/30.gif) no-repeat center;}
.house-tip .deals{float:right;}
.house-tip .deals span{display: block;border:solid 1px #dadada;width:89px;height:19px;text-align: center;color:#ccc;cursor:pointer;}
/*房管*/

.cracy.cra10{background-position:-450px -25px;}
.myaccount{padding:24px 30px 30px 25px;background:#fff;overflow: hidden;}
.account-l{width: 140px;float:left;padding-top:4px;}
.account-l a{display:block;width:120px;height:38px;text-align:center;margin-bottom:8px;border-radius:5px;border:1px solid #ccc;color:#686767;font:bold 14px/36px "Microsoft YaHei";}
.account-l a.on,.account-l a:hover{background:#ff4974;color:#fff;border-color:#ff4974;}
.account-r{width:970px;min-height:435px;padding-left:30px;background:url(../images/bg_account.gif) repeat-y left top;float:left;}
.grzl_r td{padding:7px;color:#333;text-align:center;height:32px;}
.myfamily_list table{width:1035px;border:1px solid #ccc;text-align:center;}
.myfamilytable td{border:1px solid #e6e6e6;}
.myfamilytable td a.blue:hover{color:#0A1CEB;}
.myfamilytable th{border:1px solid #e6e6e6;background: #efefef;height: 30px;color: #2B2C31;}
.myfamily_list{float:left;width:1035px;}
.myfamily_gl table td{border:1px solid #e6e6e6;height:32px;}
.myfamily_gl table td.th{text-align:right;background: #efefef;}



.set_input{border:1px solid #E7DDDD;height:28px;color:#666;padding:1px 2px;border-radius:3px;}
.set_input.set3{width:210px;}
.grzl_r em{line-height:22px;color:#999;padding-left:10px;font-size:12px;vertical-align:middle;font-style:normal;}
.account-r strong, .recent a{color:#fd4817;margin:0 4px;}
.grzl_r em strong{font-weight:normal;color:#ff0103;}
.grzl_r textarea{width:210px;height:70px;border:1px solid #E7DDDD;padding:2px;}
.selectStyle{border:solid 1px #a8acad;padding:2px;}
.sex_input{vertical-align:middle;}
.submit{width:150px;height:30px;font:normal 14px/30px "Microsoft YaHei";color:#fff;background:#ff4974;border-radius:5px;cursor:pointer;}
.submit:hover{background:#E93C65;}


.xgmm_l{width:100%;float:left;display:inline;}
.xgmm_l h2{color:#333;font:bold 14px/35px "Microsoft YaHei";border-bottom:1px solid #ddd;width:100%;}
.xgmm_l table, .xgmm_r table{margin-top:20px;}
.xgmm_l td, .xgmm_r td{line-height:25px;padding:5px;color:#333;}
.set_input.set1{width:150px;}
.xgmm_l em{color:#f00;font-style:normal;}

/*账单*/
.lwtj_top{position:relative;padding-bottom:6px;margin-top:15px;border-bottom: 1px solid #ddd;}
.giftin, .giftout{width:430px;padding-bottom:5px;background:#ffece7;float:left;margin-left:10px;margin-top:25px;border-radius:5px;}
.gifttt{width:418px;height:33px;margin-left:5px;margin-top:5px;background:url(../images/bg_account.png) repeat-x 0 -146px;border:1px solid #dadada;border-radius:5px 5px 0 0;text-align:center;font:bold 14px/33px "Microsoft YaHei;";color:#fff;}
.gifttt span{font-style:normal;}
.giftcon{width:418px;background:#fff;margin-left:5px;padding-bottom:10px;border-radius:0 0 5px 5px;border:1px solid #dadada;border-top:0;overflow: hidden;}
.giftcontt{height:32px;background:#f1f1f1;line-height:32px;color:#ccc;overflow:hidden;}
.lwmctt{float:left;padding:0 30px;}
.lwsltt{float:right;padding:0 30px;}
.giftcon ul{width:400px;margin-left:10px;border-radius:0 0 5px 5px;}
.giftcon li{height:35px;line-height:35px;border-bottom:1px solid #eee;}
.giftcon li .lwmc{float:left;width:240px;padding-left:10px;height:35px;display:inline-block;overflow:hidden;}
.giftcon li .lwsl{float:right;width:90px;display:inline-block;text-align:center;}
.giftcon li img{width:24px;height:24px;vertical-align:middle;}
.giftout{margin-left:35px;}

/*分页*/
.page_Pat{text-align:center;padding:30px 0 50px;}
.page_box_m{display:inline-block;}
.page_Pat a{display:inline-block;width:25px;height:25px;text-align:center;line-height:25px;color:#ff4974;margin:0;}
.page_Pat .btn_l,.page_Pat .btn_r{height:25px;width:60px;border:0;margin:0px 10px;}
.page_Pat a:hover, .page_Pat a.on{color:#fff;background:#ff4974;border-radius:50%;}
.page_Pat .btn_l:hover,.page_Pat .btn_r:hover{border-radius:6px;}


.page{text-align:center;padding:30px 0 50px;font:normal 12px/25px 'Microsoft YaHei';color:#333;}
.page span,.page a{display:inline-block;vertical-align: middle;height:26px;padding:0px 10px;border:1px solid #ccc;margin-right:5px;}
.page span.cur{display:inline-block;vertical-align:middle;height:26px;height:26px;background:#ff4974;border-color:#ff4974;color:#fff;text-align:center;}
.page span.get_page{border:0;}
.page b{font-weight:normal;color:#ff4974;margin:0 3px;}
.page .pages_input{height:20px;margin:0 5px;border:1px solid #ccc;font:normal 12px/20px "Microsoft YaHei";text-align:center;width:40px;}
.page .pages_btn{background:#ff4974;color:#fff;border:0;padding:2px 5px;border-radius:2px;cursor:pointer;}

/*分页*/
.recent{height:32px;line-height:32px;text-align:right;padding:0 12px;color:#ccc;}
.account-r strong, .recent a{color:#fd4817;margin:0 4px;}
.record{height:28px;padding:5px 8px 0 8px;background:url(../images/bg_account.png) repeat-x;border:solid 1px #dadada;}
.input-accout{float:left;width:82px;height:20px;padding:1px 2px;border:solid 1px #dadada;color:#525252;}
.record span{display:inline-block;width:14px;height:16px;background:url(../images/bg_time.png) no-repeat center;cursor:pointer;float:left;margin:3px 8px 0 8px;}
.record .line{float:left;color:#b5b5b5;margin-right:8px;}
.sea-record{float:left;padding:4px 5px;border-radius:2px;cursor:pointer;}
.sea-record:hover{background:#ff4974;color:#fff;}
.r-table{width:100%;}
.r-table th{height:32px;background:#f0f0f0;border:solid 1px #dadada;border-width:1px 0;padding:0 8px;line-height:32px;color:#666;text-align:left;font-weight:normal;}
.r-table td{height:32px;line-height:32px;border-bottom: solid 1px #dadada;color:#666;text-align:left;padding:0 8px;}
.r-table th.t1, .r-table td.t1{width:150px;}
.r-table.gift th.t1, .r-table.gift td.t1{width:200px;}
.r-table th.t2, .r-table td.t2{width:380px;}
.r-table.gift th.t2, .r-table.gift td.t2{ width:130px; }
.r-table th.t3, .r-table td.t3{width:110px;}
.r-table.gift th.t3, .r-table.gift td.t3{width:90px;}
.r-table th.t4, .r-table td.t4{width:130px;}
.r-table.gift th.t4, .r-table.gift td.t4{width:320px;}

.giftin.recordlist, .giftout.recordlist{padding:0;width:460px;margin-left:0;float:left;}
.gifttt.recordlist, .giftcon.recordlist{margin:0;padding-bottom:0;width:458px;}
.recordlist .giftcontt{padding-left:10px;}
.recordlist .col1{width:40px;display:inline-block;text-align:center;}
.recordlist .col2{width:65px;display:inline-block;text-align:center;}
.recordlist .col3{width:115px;display:inline-block;text-align:center;}
.recordlist .col4{width:100px;display:inline-block;text-align:center;}
.recordlist .giftcon ul{width:438px;min-height:100px;}
.recordlist .page02{height:35px;background:#eee;line-height:35px;text-align:center;}
.giftout.recordlist{float:right;margin-left: 10px;}

.sessiontimeout .record ul{padding-top:4px;}
.record li{float:left;margin-right:15px;color:#333;}
.record li a{padding:3px 4px;color:#333;}
.record li a.on,.record li a:hover{background:#ff4974;color:#fff;border-radius:3px;}
.the-total{height:28px;line-height:28px;background:#fff9c8;border-top:solid 1px #efefef;text-align:left;padding-left:40px;color:#f00;}

/*账单*/
.header_user .user_info{height:61px;}
.header_user .user_info li{float:left;margin-left:5px;color: #E6E6E6;}
.header_user .user_info .user_img{position:relative;padding:10px 0 0;}
.header_user .user_info .user_img img{width:37px;height:37px;border:2px solid #ddd;border-radius:50%;vertical-align:middle;}
.poab{position:absolute;}
.header_user .user_info .user_img p{right:0;top:34px;z-index:2px;width:16px;}
.header_user .user_info .state_on{display: inline-block;vertical-align: middle;overflow: hidden;width:16px;height:16px;background:url(../images/indexIcon.png) no-repeat center;}
.header_user .user_info .uesrname{padding-top:21px;}
.text_hidden{max-width:84px;display:inline-block;font-weight:400;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align: middle;}
.text_hidden2{width:175px;display:inline-block;font-weight:400;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align: middle;}
.headName{width:84px;}
.header_user .user_info .userMoveOper{position:relative;width:20px;padding:22px 0 0 10px;height:39px;cursor:pointer;}
.loginIcon{display:inline-block;background:url(../images/loginIcon.png) no-repeat;vertical-align: middle;overflow: hidden;}
.header_user .userMoveOper .moveArrow{background-position:0 -56px;margin-top:7px;width:9px;height:6px;vertical-align:top;}
.header_user .userSetupBox{display:none;top:61px;right:0;background: #383b44;width: 220px;padding:10px;cursor: default;}
.header_user .user_info .userMoveOper:hover .userSetupBox{display:block;}
.header_user .user_info .userMoveOper:hover{background:#383b44;}
.header_user .userSetupBox .userSetupInfo{text-align: center;border-bottom:1px solid #262930;}
.header_user .userSetupBox .userSetupInfo img{width:80px;height:80px;border:3px solid #5f6269;border-radius:50%;vertical-align: middle;}
.header_user .userSetupBox .userSetupInfo .infoName{margin:10px;white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}
.header_user .userSetupBox .userSetupInfo .infoOper{margin-bottom:10px;}
.infoName .red{padding-left:20px;background:url(../images/bi.png) no-repeat left center;}
.header_user .infoName .acz{color:#ff4974;margin-left:5px;}
.header_user .user_info li a{color:#E6E6E6;}
.header_user .infoName .red:hover{color:#ff4974;}
.header_user .userSetupBox .userSetupInfo .item_line{font-size:0;width:1px;height:16px;margin:0 5px;border-right:1px solid #4d5057;border-left:1px solid #262930;overflow:hidden;display:inline-block;line-height:0;vertical-align:-3px;}
.header_user .userSetupBox .userSetup{text-align:center;border-top:1px solid #4d5057;}
.header_user .userSetupBox .userSetup a{width:48%;display:inline-block;text-align:center;margin:10px 0;}
.header_user .userSetIcon1{background-position:0 -75px;width:16px;height:18px;}
.header_user .userSetIcon2{background-position:-19px -75px;width:20px;height:18px;}
.header_user .userSetIcon3{background-position:-42px -75px;width:18px;height:17px;}
.header_user .userSetIcon4{background-position:-63px -75px;width:18px;height:16px;}
.header_user .userSetIcon5{background-position:-84px -75px;width:18px;height:14px;}
.header_user .userSetIcon6{background-position:-105px -76px;width:18px;height:17px;}
.header_user .userSetIcon7{background-position:-24px -98px;width:15px;height:15px;}
.header_user .userSetupBox .userSetup a b{margin-right:5px;}

.cover{display:none;position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;background:#000;filter:alpha(opacity=50);opacity:0.5;}
.change_pohto{display:none;position:fixed;top:50%;left:50%;z-index:101;width:630px;margin-top:-241px;margin-left:-315px;background:#fff;border-radius:5px;}
.change_pohto h3{height:60px;padding-left:35px;font-size:18px;color:#414141;background:#eaeaea;line-height:60px;border-radius:5px 5px 0 0;font-weight:400;}
.change_pohto h3 span{padding:0 20px 0 17px;cursor:pointer;color:#fa265d;}
.renewClose{display:inline-block;width:25px;height:25px;position:absolute;right:15px;top:15px;background:url(../images/iconc.png) no-repeat center;vertical-align:middle;}

/*兑换*/
.exchange{float:left;width:298px;border:solid 1px #dadada;}
.exchange .nums{height:47px;background-color:#ffefda;padding-left:68px;padding-top:10px;}
.exchange .nums span{color:#333;font-size:14px;}
.exchange .nums strong{color:#fd4817;font-family:"Arial, Helvetica, sans-serif";font-size:24px;}
.deal-view{padding:3px 20px 35px 20px;overflow:hidden;}
.deal-view .item{padding:12px 0;background:url(../images/line.gif) repeat-x left bottom;}
.deal-view .item p{height:24px;padding-bottom:4px;color:#333;}
.deal-view .btn_change{margin-top:5px;}
.deal-view .item.no{background:none;}
.ex_history{float:right;width:800px;}
.record strong{color:#ccc;}
.recod-tpl{padding-bottom:80px;overflow:hidden;}
.change_data{display:block;width:96px;height:28px;margin:0 auto;border-radius:5px;background:#ff4974;cursor:pointer;color:#fff;font-size:14px;font-weight:bold;text-align:center;line-height:28px;}
.change_data:hover{background:#E93C65;}
.succeedalert{border:1px solid #f2cc5a;color:#fd4817;margin-top:10px;text-align:center;padding:30px 10px;display: none;background: #fff9c8;}

/*兑换*/

