* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-style: normal;}
*:before,
*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html, body, div,section,article,canvas,header,footer,figure,figcaption,nav span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul,input,select,button,textarea { padding:0; margin:0; border:none;}input,button,select,textarea,a,img{outline:none; text-decoration:none;color:#333;-webkit-tap-highlight-color:rgba(255,0,0,0);}/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
section,article,header,footer,figure,figcaption,nav,canvas{display:block;}
::-moz-focus-inner{border:0px;}/*火狐的私有属性去掉点击时边框*/
html,body{width:100%;height:100%;background:#e9edf0;overflow: hidden;}
body {background:url(../img/BG.jpg) no-repeat center;background-size:cover;font-size:14px; font-family:"Microsoft YaHei","Arial", "SimSun";}
a,img { border:none;}
ul, ul li, ol li, li {  list-style:none;}
table { border-collapse: collapse;border-spacing:0;}
input, textarea {border: 0;vertical-align: middle;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	display:inline-block;height:30px;padding:4px 6px;margin-bottom:10px;font-size:14px;line-height:30px;color:#555;vertical-align:middle;border-radius:4px;
}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
* html .clearfix {zoom: 1;}
*:first-child + html .clearfix {zoom: 1;}
::-webkit-scrollbar {width: 5px;}
/* Track */
::-webkit-scrollbar-track {-webkit-border-radius: 10px;border-radius: 10px;}

/* Handle */
::-webkit-scrollbar-thumb {-webkit-border-radius: 10px;border-radius: 10px;background:#e4e4e4 ; }
::-webkit-scrollbar-thumb:window-inactive {background:#e4e4e4; }
.fl {   float:left;}
.fr {   float:right;}
.none,.hide{  display:none;}
.ellip{overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}

.page-window{width:100%;height:100%;padding-bottom: 15px;}
.window_content{width:1120px;min-height:547px;height:100%;margin:0 auto;}
@media (max-width:1679px){
	.window_content_left{width:300px;height:calc(100% - 55px);height:-webkit-calc(100% - 55px);height:-moz-calc(100% - 55px);background:#fff;border-radius:10px;}
}
@media (min-width:1680px){
	.window_content_left{width:300px;height:calc(100% - 120px);height:-webkit-calc(100% - 120px);height:-moz-calc(100% - 120px);background:#fff;border-radius:10px;}
}
.window_content_left p{width:280px;margin:0 auto;}
.window_content_left .obsp{padding:15px 0;}
.window_content_left p span{display:block;width:100%;padding:10px 5px;background:#eee;font-size:12px;color:#666;border-radius:5px;}
.window_content_left .obsbtn{margin-top:20px;text-align:center;}
.window_content_left .obsbtn button{display: inline-block;width:100%;height:35px;line-height:35px;border-radius:3px;cursor: pointer;}
.window_content_left .start_play button{background:#f54365;color:#fff;font-size:16px;}
.window_content_left .start_play button:hover{background:#ef5874;}
.livemanual{width:700px;height:90%;padding:15px;background:#fff;border-radius:10px;overflow-y: auto;}
.livemanual h3{padding-bottom:15px;text-align:center;font-weight:400;}
.livemanual img{display:block;width:600px;margin:0 auto;}

@media (max-width:1679px){
.window_content_right{width:800px;height:calc(100% - 55px);height:-webkit-calc(100% - 55px);height:-moz-calc(100% - 55px);background:#fff;border-radius:10px;}
}
@media (min-width:1680px){
.window_content_right{width:800px;height:calc(100% - 120px);height:-webkit-calc(100% - 120px);height:-moz-calc(100% - 120px);background:#fff;border-radius:10px;}
}
.liveRoomContainer{width:500px;height:100%;padding:0 10px;}
.attraction{position:relative;width:300px;height:100%;border-left:1px solid #eee;}
.playerHeader{width:100%;height:65px;margin:0 auto;line-height:65px;}
.playerHeader > img{width:45px;height:45px;margin-right:10px;border-radius:50%;vertical-align: middle;}

.playerContainerBox{position:relative;width:100%;height:300px;margin:0 auto 5px;background:#000;}
.play_video{position:relative;width:100%;height:100%;}
.play_video > img{position:absolute;top:50%;left:50%;margin-top:-15px;margin-left:-15px;}
#example_video_1{width: 100%;height: 100%;}
.boundPhone_box{position:absolute;top:50%;left:50%;margin-top:-115px;margin-left:-150px;width:300px;height:230px;background:#333;border-radius:4px;}
.boundPhone_txt p{padding:20px 10px 0 70px;font-size:14px;margin-bottom:10px;line-height:30px;color:#fff;background:url(../img/face.png) no-repeat 10px 25px;}
.boundPhone_txt img{display:block;width:120px;margin:0 auto;}
.chat-msg-box{width:100%;height:calc(100% - 415px);margin:0 auto;overflow-y: auto;}
.live-edit-box{width:100%;height:50px;margin:0 auto;line-height:45px;}
.live-edit-box input{width:420px;height:40px;background:#f6f6f6;font-size:12px;vertical-align: middle;line-height:40px;border-radius:5px;padding-left:10px;}
.chat_msg_btn{width:50px;height:40px;text-align:center;border-radius:5px;cursor: pointer;color:#ff2d55;background:transparent;}
.onlineUser{width:280px;height:40px;margin:0 auto;line-height:40px;border-bottom:2px solid #e8e7e7;color:#333;}
.onlineUser span{display:inline-block;height:40px;padding:0 10px;cursor: pointer;}
.onlineUser span.active{border-bottom: 2px solid #ff2d55;color:#ff2d55;}
.userList{width:100%}
.userItem{padding:12px 0 12px 14px;border-bottom:1px solid #eee;cursor:pointer}
.userItem:hover{background:#efefef}
.userItem .userIcon{margin-right:4px;width:36px;height:36px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;vertical-align:bottom;-ms-border-radius:30px;-o-border-radius:30px}
.userItem .userMsg{display:inline-block;font-size:14px}
.userItem .userMsg .userName{overflow:hidden;max-width:98px;text-overflow:ellipsis;white-space:nowrap}
.userItem .userMsg .district{height:12px;vertical-align:text-top}
.userItem .userMsg .level,.userItem .userMsg .sexIcon{display:inline-block;height:12px;vertical-align:text-top}
.userItem .userMsg .level.level0{display:none}

/*注册 登陆*/
.login_box{position:absolute;top:50%;left:50%;margin-top:-255px;margin-left:-267px;width:510px;height:534px;background:#fff;border-radius: 5px;}
.login_box .title{height:68px;font-size:24px;color:#1b1b1b;border-bottom:2px solid #ebebeb;} 
.login_box .title span{display:inline-block;width:160px;height:68px;line-height:68px;text-align: center;cursor: pointer;}
.login_box .title span.active{color:#ff2d55;border-bottom:2px solid #ff2d55;}
.login_box .title .colse_button {float:right;width:40px;height:40px;margin:5px 5px 0 0;color:#666;font-size:30px;font-weight:bold;line-height:20px;cursor: pointer;}
.login_box .title .colse_button:hover{color:#333;}
.login_reg_box{width:300px;height:466px;padding-top:45px;margin:0 auto;border-radius:0 0 5px 5px;}
.login_reg_box form input{width: 100%;height: 40px;padding-left:10px;font-size:14px;font-family:"Microsoft YaHei";line-height:40px;border:1px solid #ccc;border-radius:5px;}
.login_reg_box form> div{height:40px;margin-bottom:25px;}
.login_reg_box .login_btn {width: 100%;height: 40px;line-height: 40px;color:#fff;background: #ff2d55;border-radius:5px;font-size:14px;font-family:"Microsoft YaHei";cursor: pointer;}
.login_reg_box .rember_pass{margin-bottom:40px;}
.login_reg_box .rember_pass input[type="checkbox"]{vertical-align: middle;margin-top:-2px;}
.login_reg_box .rember_pass a:hover{color:#ff2d55;}
.login_reg_box .login_label{height:13px;width:100%;text-align:center;color:#999;border-bottom:1px solid #e0e0e0;}
.login_reg_box .login_label span{display: inline-block;width: 100px;background: #fff;}
.login_reg_box .qq_weixin {margin-top:30px;text-align: center;}
.login_reg_box .qq_weixin a{display: inline-block;margin:0 15px;}
.login_reg_box .code{width:150px;margin-right:10px;}
.login_reg_box .code_btn{display: inline-block;width: 140px;line-height:40px;background:#ff2d55;color:#fff;border-radius: 5px;font-family:"Microsoft YaHei";cursor: pointer;}
.login_reg_box .code_btn:hover{background: #ff2d55;color: #e8e8e8;}
/*注册 登陆*/

.layer{position:fixed;top:0;left:0;z-index:998;overflow-y:auto;width:100%;height:100%;background:#333;background:rgba(0,0,0,.5)}
.layer .layer-window-content{display:table;margin-right:auto;margin-left:auto;height:100%}
.layer .layer-window-content .layer-box{position:relative;display:table-cell;margin-right:auto;margin-left:auto;max-height:100%;vertical-align:middle}
.layer .closeLayer{position:absolute;top:30px;right:30px;display:inline-block;width:30px;height:30px;background:url(../img/close.png);cursor:pointer}
.profileContent{width:272px;height:332px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:#fff;text-align:center;-ms-border-radius:6px;-o-border-radius:6px}
.profileContent .profileIcon{margin-top:20px;width:72px;height:72px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;background:#fff;-ms-border-radius:50px;-o-border-radius:50px}
.profileContent .profileName{overflow:hidden;margin:12px 0 10px;max-width:245px;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-size:16px}
.profileContent .profileMsgIcon{display:inline-block;margin:0 auto}
.profileContent .profileMsgIcon .sexIcon{display:inline-block;margin-right:6px;height:16px;vertical-align:text-top}
.profileContent .profileMsgIcon .level{display:inline-block;margin-right:4px;height:16px;vertical-align:text-top}
.profileContent .profileMsgIcon .level.level0{display:none}
.profileContent .fos{margin-top:20px;padding:14px 10px;border-top:1px solid #e0e0e0;text-align:center;font-size:14px;opacity:.5}
.profileContent .fos.noFod{cursor:pointer}
.profileContent .fos.fod{cursor:default}

.management{margin-top:15px;}
.management button{display:inline-block;padding:2px 5px;border-radius:3px;cursor: pointer;color:#666;}

.live-msg-list > p{font-size:12px;}
.live-msg-list .msg{position:relative;padding-top:7px;padding-bottom:7px}
.live-msg-list .msg .avatar{position:relative;float:left;width:30px;height:30px;margin-right:10px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;cursor:pointer;-ms-border-radius:30px;-o-border-radius:30px}
.live-msg-list .msg .username{position:relative;float:none;min-height:18px;font-size:12px}
.live-msg-list .msg .content.normal{position:relative;margin-top:5px;margin-left:40px;padding:5px 10px;max-width:60%;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:#efefef;color:#252525;font-size:12px;word-break:break-all;-ms-border-radius:6px;-o-border-radius:6px}
.live-msg-list .msg .content.normal p{word-wrap:break-word}
.live-msg-list .msg .content.normal p img{margin-left:5px;width:30px;height:30px;vertical-align:middle}
.live-msg-list .msg .content.normal:before{position:absolute;top:5px;left:-3px;display:block;width:7px;height:10px;background:#efefef;content:'';-webkit-transform:skew(30deg);-moz-transform:skew(30deg);-o-transform:skew(30deg);transform:skew(30deg);-ms-transform:skew(30deg)}
.live-msg-list .msg .content.normal.type4{color:#ff2d55}

.live_types{width:385px;padding:20px;background:#fff;border-radius:5px;}
.live_types input{width:100%;background:#eee;font-size:12px;color:#666;}
.live_types h3{height:30px;}
.live_types h3 input{text-align:center;}
.live_types .topic_type{margin:20px 0 10px;}
.live_types .topic,.live_types .types{position:relative;width:150px;height:30px;}
.live_types .topic input,.live_types .types input{cursor: pointer;}
.live_types .topic:after,.live_types .types:after{position:absolute;top:12px;right:5px;display:block;content:"";width:0;height:0;border-width: 6px 6px 0 6px;border-style:solid;border-color:#9e9c9c transparent;}
.live_types .topic ul,.live_types .types ul{position:absolute;top:30px;left:0;width:100%;background:#fff;}
.live_types .topic ul li,.live_types .types ul li{padding-left:5px;font-size:12px;line-height:30px;border:1px solid #eee;border-top:0;cursor: pointer;}
.live_types .type_key{padding-top:10px;clear: both;}
.playbutton{text-align:center;}
.playbutton button{width:200px;padding:10px 0;border-radius:5px;background:#ff2d55;color:#fff;cursor: pointer;}

/*loading*/
.spinner{position:absolute;top:50%;left:50%;margin-left:-10px;margin-top:-10px;width:20px;height:20px;}
.spinner .container1>div,.spinner .container2>div,.spinner .container3>div{width:6px;height:6px;background-color:#ff2d55;border-radius:100%;position:absolute;-webkit-animation:bouncedelay 1.2s infinite ease-in-out;animation:bouncedelay 1.2s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.spinner .spinner-container{position:absolute;width:100%;height:100%}
.spinner .container2{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.spinner .container3{-webkit-transform:rotateZ(90deg);transform:rotateZ(90deg)}
.spinner .circle1{top:0;left:0}
.spinner .circle2{top:0;right:0}
.spinner .circle3{right:0;bottom:0}
.spinner .circle4{left:0;bottom:0}
.spinner .container2 .circle1{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.spinner .container3 .circle1{-webkit-animation-delay:-1s;animation-delay:-1s}
.spinner .container1 .circle2{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.spinner .container2 .circle2{-webkit-animation-delay:-.8s;animation-delay:-.8s}
.spinner .container3 .circle2{-webkit-animation-delay:-.7s;animation-delay:-.7s}
.spinner .container1 .circle3{-webkit-animation-delay:-.6s;animation-delay:-.6s}
.spinner .container2 .circle3{-webkit-animation-delay:-.5s;animation-delay:-.5s}
.spinner .container3 .circle3{-webkit-animation-delay:-.4s;animation-delay:-.4s}
.spinner .container1 .circle4{-webkit-animation-delay:-.3s;animation-delay:-.3s}
.spinner .container2 .circle4{-webkit-animation-delay:-.2s;animation-delay:-.2s}
.spinner .container3 .circle4{-webkit-animation-delay:-.1s;animation-delay:-.1s}
@-webkit-keyframes bouncedelay{0%,100%,80%{-webkit-transform:scale(0)}
40%{-webkit-transform:scale(1)}
}
@keyframes bouncedelay{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}
}
.page-window .operate-content{padding-bottom:10px;}
.page-window .operate-content .notify-box{height:45px;}
.page-window .operate-content .notify-box .go-msg-bord-box{position:relative;margin-top:10px;}
.page-window .operate-content .notify-box .change-btn{}{float:left;margin-top:9px;margin-right:15px;}
.page-window .operate-content .notify-box .change-btn.go-msg-bord{position:relative;display:block;width:34px;height:34px;background:url(../img/home.png) no-repeat center 3px;cursor:pointer;border-radius:50%;background-color:rgba(0, 0, 0, 0.18);background-size:25px;}
.page-window .operate-content .notify-box .change-btn.go-msg-bord:hover{position:relative;display:block;background:url(../img/home.png)no-repeat center 3px;cursor:pointer;background-color:#00C8EC;}
.page-window .operate-content .notify-box .msg-bord-tip{position:absolute;top:38px;left:-19px;z-index:100;display:none;width:70px;height:38px;border-radius:4px;background:#00C8EC;color:#fff;text-align:center;font-size:14px;line-height:38px;cursor:pointer}
.page-window .operate-content .notify-box .msg-bord-tip::before{position:absolute;top:-4px;right:30px;display:inline-block;width:7px;height:7px;border:1px solid #00C8EC;border-right:none;border-bottom:none;background:#00C8EC;content:"";-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);-ms-transform:rotate(45deg)}
.page-window .operate-content .notify-box .change-btn.go-msg-bord:hover+.msg-bord-tip{display: block;}
.operate-content .account-box .goDownloads{position:relative;float:left;display:inline-block;margin-top:10px;margin-right:10px;width:65px;height:34px;font-size:14px;line-height:35px;cursor:pointer}
.operate-content .account-box .goDownloads>a{color:#f9f9f9;}
.goDownloads .mm-downloads-wrap{position:absolute;top:34px;left:-44px;z-index:1;width:147px;height:200px;border-radius:5px;background:#FFF;box-shadow:1px 1px 5px 1px rgba(37,37,37,.47);}
.goDownloads .mm-downloads-wrap:before{position:absolute;top:-11px;left:65px;content:"";display:block;width:0;height:0;border-width:0px 12px 12px;border-style:solid;border-color:#fff transparent;}
.goDownloads .mm-downloads-wrap .mm-btn-group{color:#c9c9c9;font-size:16px;line-height:47px}
.goDownloads .mm-downloads-wrap .mm-download-title{color:#333;text-align:center;font-weight:400;font-size:14px;line-height:40px;cursor:default}
.goDownloads .mm-downloads-wrap .mm-download-container{width:156px;height:110px;text-align:center}
.goDownloads .mm-downloads-wrap .mm-download-container>img{position:relative;top:-15px;left:-4px;z-index:-3;width:130px}
.goDownloads .mm-downloads-wrap .mm-mac-icon{display:inline-block;margin-left:17px;width:48px;height:50px;background:url(../img/mmIcon.png) -5px -5px no-repeat}
.goDownloads .mm-downloads-wrap .mm-android-icon{display:inline-block;margin-right:10px;width:50px;height:50px;background:url(../img/mmIcon.png) -85px -5px no-repeat}
.operate-content .account-box .account-box-childern{position: relative;top:3px;display: inline-block;}
.operate-content .account-box .goPay{float:left;display:block;margin-top:6px;margin-right:20px;width:34px;height:34px;cursor:pointer}
.operate-content .account-box .goPay .goToPay{display:block;width:34px;height:34px;border:0;cursor:pointer}
.operate-content .account-box .goPay .iWantPay{position:relative;top:5px;left:-18px;z-index:200;display:none;width:70px;height:38px;border-radius:4px;background:#ff7a29;color:#fff;text-align:center;font-size:14px;line-height:38px;cursor:pointer}
.operate-content .account-box .goPay .iWantPay::before{position:absolute;top:-4px;right:30px;display:inline-block;content:"";width:7px;height:7px;border:1px solid #ff7a29;border-right:none;border-bottom:none;background:#ff7a29;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.operate-content .account-box .goPay .goToPay:hover+.iWantPay{display: block;}
.operate-content .account-box .avatar{float:left;margin-top:6px;width:34px;height:34px;-webkit-border-radius:34px;-moz-border-radius:34px;border-radius:34px;cursor:pointer;-ms-border-radius:34px;-o-border-radius:34px}
.operate-content .account-box .account-info-box{position:absolute;top:45px;right:0;z-index:9999;width:180px;border-radius:3px;background:#fff;box-shadow:0 1px 6px rgba(100,100,100,.3)}
.operate-content .account-box .account-info-box .account-pro{margin:0 10px;padding:10px 0;border-bottom:1px solid #ccc}
.operate-content .account-box .account-info-box .account-pro .username{float:none;overflow:hidden;padding-left:10px;max-width:120px;text-overflow:ellipsis;white-space:nowrap;font-size:14px}
.operate-content .account-box .account-info-box .account-pro .account-momoid{margin-left:45px;color:#b4b3b3;font-size:12px}
.operate-content .account-box .account-info-box .account-list .account-item{padding-left:10px;height:40px;color:#868686;font-size:14px;line-height:40px;cursor:pointer}
.operate-content .account-box .account-info-box .account-list .account-item:hover{background:#f7f8f8}

@media screen and (max-height: 640px){
.profile-box{height:605px;}
.profile-box .tab_content_container{height:245px;}
}
.profile-box{position:relative;width:400px;height:625px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fff;-ms-border-radius:5px;-o-border-radius:5px;text-align:center;}
.profile-box .background-content{overflow:hidden;height:240px;border-top-right-radius:5px;border-top-left-radius:5px}
.profile-box .background-content img.bg-img{width: 100%;}
.profile-box .main-info-content{position:absolute;top:0;padding-top:40px;width:100%;height:240px;background:rgba(0,0,0,.2);color:#fff;text-align:center}
.profile-box .main-info-content > img{width:90px;height:90px;-webkit-border-radius:1000px;-moz-border-radius:1000px;border-radius:1000px;-ms-border-radius:1000px;-o-border-radius:1000px}
.profile-box .main-info-content p.profile-name{margin-top:5px;font-size:18px;}
.profile-box .main-info-content p.constellation{margin-top:2px;font-size:14px;}
.profile-box .main-info-content p.profile-info{margin-top:10px;}
.profile-box span.info.gender.male{background:#46a1ff;}
.profile-box .icon-female,.icon-male{position:relative;display:block;width:12px;height:12px;cursor:pointer}
.profile-box .icon-male{background: url(../img/icon.png?v=6) -73px -523px no-repeat;}
.profile-box span.info.gender i{float: left;margin:3px 0 0 5px;}
.profile-box span.info{display:inline-block;width:47px;height:17px;border-radius:2px;vertical-align:bottom;font-size:12px}
.profile-box .main-info-content span.info.vip{width:40px;height:17px;}
.profile-box .profiles-tab .tab_header{padding:0 20px;}
.profile-box .tab_header>ul{padding:relative;}
.profile-box .tab_header>ul>li{position:relative;float:left;display:inline-block;width:100%}
.profile-box .tab_header>ul>li>a{display:block;margin-top:5px;padding:0;height:44px;color:#12aef5;text-align:center;font-size:16px;line-height:44px;border-bottom:2px solid #12aef5}
.profile-box .profile-detials-content{margin-right:3px;padding-left:20px;}
.profile-box .tab_content_container .tab_content .profiles-list:first-child{padding-top:15px;}
.profile-box .profile-detials-content .profiles-list .profile-item{margin-bottom: 9px;font-size:14px;}
.profile-box .profile-detials-content .profiles-list .profile-item span.item-title{float:left;display:inline-block;margin-right:40px;width:64px;text-align:right}
.profile-box .profile-detials-content .profiles-list .profile-item span.item-value{display:inline-block;float:left;overflow:hidden;max-width:275px;color:#8e8e8e;text-overflow:ellipsis;white-space:nowrap}

.profile-operation{margin-top:15px;}
.profile-operation button{background:transparent;color:#fff;display:inline-block;padding:5px 10px;margin:0 5px 5px 0;border-radius:3px;text-align:center;cursor: pointer;border:1px solid #ff2d55;color:#ff2d55;}
.profile-operation button:hover{background:#ff2d55;color:#fff;}

.profile-box.payment{height:430px;}
.payment .tab_content_container{height:100%;}
.radio-button{display:inline-block;float:left;width:165px;height:32px;padding:5px 10px;border:1px solid #eee;border-radius:3px;cursor:pointer;}
.radio-button.active{background:url(../img/sprite1x.df961136.png) no-repeat right bottom;border-color:#238efb;}
.radio-button .icon{display:block;width:66px;height:22px;}
.radio-button .icon-weix{background:url(../img/weix.jpg) no-repeat center;}
.profiles-list .profile-item .form-control{float:left;display:inline-block;width:190px;height:34px;padding:6px 12px;font-size:12px;line-height:34px;background:#fff;border:1px solid #ccc;border-radius:4px;}
.amount-wrapper .unit{width:34px;height:34px;line-height:34px;float:left;text-align:center;}
.payment .single-sign{line-height:34px;}
.paymentbtn{display:inline-block;float:left;margin-left:104px;width:150px;height:35px;border:1px solid #ff2d55;border-radius:5px;color:#ff2d55;text-align:center;line-height:35px;font-size:16px;cursor:pointer;}
.payment .pay-wxin{padding-left:0;}
.payment .pay-wxin li{text-align:center;}
.payment .wxin-tit{padding:20px 0 0px;text-align:center;font-size:26px;}
.payment .wxin-ewm{height:190px;}
.pay-wxin .w-tip{margin:10px auto 22px;width:145px;background:url(../img/pay_04.png) no-repeat;padding-left:30px;color:#8a8a8a;}
.pay-wxin .wxin-table{margin:0 auto;}
.payment .profiles-list .profile-item{height:38px;line-height:38px;}








