{extend name="public/base" /}

{block name="style"}
<link rel="stylesheet" href="{:request()->root()}/static/plugins/datatables/dataTables.bootstrap.css">
<style>
    table#example2 td {
        vertical-align: middle;
    }
</style>
{/block}

{block name="script"}

{/block}

{block name="content"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-5 text-left">
                            {volist name="list_action" id="action"}
                            {$action}
                            {/volist}
                        </div>
                        <div class="col-sm-7">
                            <!-- 高级搜索 -->
                            <div class="text-right" style="margin-bottom:15px;">
                                <form action="{:Url('lists')}" method="get" id="search-form" class="form-horizontal">
                                    {volist name="searches" id="search"}
                                    {$search}
                                    {/volist}
                                    {if condition="count($searches) > 0"}
                                    <button type="submit" class="btn btn-info">
                                        <i class="fa fa-search"></i> 查询
                                    </button>
                                    {/if}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="overflow: auto">
                            {include file="content/table" /}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                共{$rows}条记录
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                                {$page|default=''}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}