<table class="table table-bordered table-hover">
    <!-- 表头 -->
    <thead>
    <tr>
        <th class="row-selected row-selected" style="width:20px;">
            <input class="check-all" type="checkbox">
        </th>
        {volist name="data_table['fields']" id="field"}
        <th>{:get_label($label, $field)}</th>
        {/volist}
        {if condition="$has_action"}
        <th>操作</th>
        {/if}
    </tr>
    </thead>
    <!-- 列表 -->
    <tbody>
    {volist name="list_data" id="data"}
    <tr>
        <td><input class="ids" type="checkbox" value="{$data['id']}" name="id[]"></td>
        {volist name="data_table['fields']" id="field"}
        <td>{:get_data($data_table, $field, $data)}</td>
        {/volist}
        {if condition="$has_action"}
        <td style="min-width: 80px;">
            {volist name="data_action($data)" id="action"}
            {$action}
            {/volist}
        </td>
        {/if}
    </tr>
    {/volist}
    </tbody>
</table>