# Created by .ignore support plugin (hsz.mobi)
.idea/
data/mysql/data/*
data/php/session/*
sites/tpshop/*
sites/meilibo/*
sites/ectouch/*
!sites/tpshop/.gitkeep
!sites/meilibo/.gitkeep
!sites/ectouch/.gitkeep

