body fieldset{border:1px solid #D8D8D8; padding:10px;}
body fieldset legend{padding:3px 8px;font-weight:700;border:1px solid #D8D8D8;background-color: #F9F9F9;}
body fieldset.blue{border:1px solid #dce3ed}
body fieldset.blue legend{padding:3px 8px;font-weight:700;color:#347add; background:none; border:none}

/*表格表单*/
.table_form{font-size:12px}
.table_form td{padding-left:12px}
.table_form th{font-weight:normal; text-align:right;padding-right:10px; color:#777}
.table_form td label{ vertical-align:middle}
.table_form td,.table_form th{padding:8px 0 8px 8px}
.table_form tbody td,.table_form tbody th{border-bottom:1px solid #eee; }
.colorpanel tbody td,.colorpanel tbody th{ padding:0;border-bottom: none;}

/*表单验证*/
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../images/msg_bg.png) no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}

/****滚动条******/

/* Let's get this party started */

::-webkit-scrollbar {

    width: 10px;
    height:10px;

}

 

/* Track */

::-webkit-scrollbar-track {

    

    -webkit-border-radius: 10px;

    border-radius: 10px;

}

 

/* Handle */

::-webkit-scrollbar-thumb {

    -webkit-border-radius: 10px;

    border-radius: 10px;

    background:#01a5a6 ; 

    

}

::-webkit-scrollbar-thumb:window-inactive {

	background:#01a5a6 ; 

}

#searchid{margin-bottom:10px;}
.table-list{padding-top:5px;}
.table-list .table th,.table-list .table td{vertical-align:middle;}
.table-list .table th{border-bottom:1px solid #ddd;background: #728F9D;text-align:center;color: #D1ECF0;}
.table-list .table input[type="text"]{height:35px;border-radius:5px;padding-left:10px;border:1px solid #ccc;}


.common-form  .table tr td{vertical-align:middle;}
.common-form  .table tr td:nth-child(1){text-align:right}















