*{margin:0;padding:0;font-style:normal;outline: none;list-style: none;text-decoration: none;font: 12px/1.3 'Arial','Microsoft YaHei';}
.hide{display:none;}
.fl{float: left;}
.fr{float: right;}
.W_autocut{overflow:hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;}
.clearfix:after{display:block;content: "";width:0;height:0;clear:both;}
.private_box{position:fixed;bottom:0;right:0;}
.private_box .chatMiniRoot{width:288px;height:40px;background:rgba(240,241,244,0.95);cursor: pointer;}
.chatMiniRoot .fold_cont .fold_icon{display:block;float:left;width:18px;height:16px;margin:11px 16px 0 20px;background:url(../images/webim_icon.png) no-repeat 0 -20px;}
.chatMiniRoot .fold_font{line-height:40px;color:#333;font-size:12px;}
.chatMiniRoot .wchat_btn{display:block;width:38px;height:36px;float:right;line-height:36px;background:#ff8140;border-radius:2px;margin:2px;text-align:center;}
.chatMiniRoot .wchat_btn .wchat_icon{display:inline-block;width:22px;height:22px;margin-top:8px;background:url(../images/webchat_icon.png) no-repeat 0 -30px;}
.webim_chat_window{width:560px;height:402px;color:#333;background:#fff;box-shadow: -3px -2px 8px -1px rgba(0,0,0,0.2);border-radius:2px 0px 0px 2px;}
.webim_chat_window .WB_webim_page .webim_serch{padding:6px 5px;border-bottom:1px #d9d9d9 solid;}
.WB_search_s{display:inline-block;position:relative;}
.WB_search_s .W_input{height:24px;padding:0 46px 0 10px;}
.webim_chat_window .W_input{background:#fff;color:#808080;}
.webim_chat_window .WB_webim_page{width:159px;height:100%;border-right:1px #d9d9d9 solid;}
.webim_chat_window .WB_webim_page .webim_serch .W_input{width:107px;padding-right:30px;border:1px #ccc solid;}
.webim_chat_window .WB_webim_page .webim_serch .W_input:focus{border-color:#ff8140;}
.WB_search_s .pos{position:absolute;right:5px;top:3px;width:20px;height:20px;background:url(../images/search.png) no-repeat center;cursor: pointer;}
.webim_contacts_mod .contacts{padding:8px 7px 8px 5px;cursor: pointer;background: #fff;}
.webim_contacts_mod .userimg{display:block;width:30px;height:30px;border-radius:4px;}
.webim_contacts_mod .name{max-width:82px;height:30px;margin-left:10px;line-height:30px;font-size:12px;}
.webim_contacts_mod .W_new_count{display:inline-block;min-width:18px;height:13px;padding:0 2px;margin-top:8px;background:#fa7d3c;color:#fff;border-radius:3px;line-height:14px;text-align:center;font-size:12px;}
.webim_contacts_mod .W_new_count.hide{display:none;}
.webim_contacts_mod .ficon_close{display:none;font-size:12px;color:#696e78;margin-top:8px;}
.webim_contacts_mod .contacts:hover .ficon_close{display:block;}
.webim_contacts_mod .contacts:hover,.webim_contacts_mod .contacts.active{background:#f2f2f5;color:#808080;}

.webim_group_title{padding:10px 0 5px 0;margin-left:6px;color:#333;font-size:12px;}
.private_dialogue_cont_list{height:100%;overflow:hidden;}

.private_dialogue_box{width:400px;overflow:hidden;background:#f2f2f5;}
.private_dialogue_box .chat_head{height:38px;padding:0 10px;line-height:38px;border-bottom:1px #d9d9d9 solid;background:#fff;}
.private_dialogue_box .chat_title{max-width:170px;height:100%;line-height:38px;font-size:14px;color:#333;}
.private_dialogue_box .chat_head .ficon_close{width:40px;height:40px;float:right;font-size:16px;background:transparent;border:0;color:#696e78;cursor: pointer;}

.private_dialogue_body{position:relative;width:400px;height:362px;overflow:hidden;}
.private_dialogue_cont{overflow:hidden;height:319px;width:100%;}
.private_dialogue_more{padding-top:10px;text-align:center;}
.private_dialogue_prompt{position:relative;margin:22px 55px 14px;border:1px dashed #d9d9d9;}
.private_dialogue_prompt .prompt_font{position:absolute;top:-9px;left:50%;width:108px;margin-left:-54px;text-align:center;font-weight: normal;color:#808080;background:#f2f2f5;}
.msg_bubble_list{padding:20px 10px 0;}
.msg_bubble_list .bubble_user{float:right;position:relative;display:block;width:30px;height:30px;}
.msg_bubble_list .bubble_name{height:15px;margin:0 0 3px 45px;text-align:right;}
.msg_bubble_list .bubble_box{max-width:253px;float:right;}
.msg_bubble_list .bubble_cont{padding:5px 9px;margin-top:0;max-width:220px;margin-right:13px;background:#d7ebfe;border:1px #b7d4ef solid;position: relative;border-radius:5px;box-shadow:0 3px 3px rgba(0,0,0,.05);}
.bubble_r .bubble_cont .bubble_arrow{position:absolute;top:5px;right:-11px;}
.W_arrow_bor i, .W_arrow_bor em{display:inline-block;width:0;height:0;border-width:7px;border-style: solid;overflow:hidden;font-size:0;line-height:0;vertical-align: top;border-right-color:transparent;border-bottom-color:transparent;}
.msg_bubble_list .bubble_cont .bubble_arrow .W_arrow_bor i{border-width:3px;}
.bubble_r .bubble_cont .bubble_arrow .W_arrow_bor i{border-top-color:#b7d4ef;color:#b7d4ef;margin-right:4px;}
.msg_bubble_list .bubble_cont .bubble_arrow .W_arrow_bor em{border-width:4px;}
.bubble_r .bubble_cont .bubble_arrow .W_arrow_bor em{border-top-color:#d7ebfe;color:#d7ebfe;margin:1px 0 0 -14px;}
.msg_bubble_list .bubble_cont .bubble_main,.msg_bubble_list .bubble_cont .cont{max-width:220px;}
.msg_bubble_list .bubble_cont .cont{float:left;display:inline;margin-right:0;}
.private_dialogue_body .page{line-height:20px;color:#333;word-wrap:break-word;}
.bubble_l .bubble_cont .bubble_arrow .W_arrow_bor i{border-top-color:#ccc;color:#ccc;margin-left:4px;}
.bubble_l .bubble_cont .bubble_arrow .W_arrow_bor em{border-top-color:#fff;margin:1px 0 0 -4px;color:#fff;}
.bubble_l .bubble_user, .bubble_l .bubble_box, .bubble_l .bubble_repeat_icon{float: left;}
.bubble_l .bubble_cont{margin-left:13px;background:#fff;border:1px solid #ccc;}
.bubble_l .bubble_cont .bubble_arrow{position:absolute;top:5px;left:-11px;}
.bubble_l .bubble_name{text-align:left;}
.W_arrow_bor_l i, .W_arrow_bor_l em{border-bottom-color:transparent;border-left-color:transparent;}

.private_dialogue_box .sendbox_mod{border:1px solid #d9d9d9;}
.webim_chat_window .sendbox_mod{position: relative;padding:7px 0 7px 5px;}
.webim_chat_window .sendbox_mod .sendbox_mod_l{width:300px;margin-right:10px;border-top:1px solid #ccc;}
.webim_chat_window .sendbox_mod .sendbox_area{background:#fff;padding-right:22px;}
.webim_chat_window .sendbox_mod .sendbox_area .W_input{width:100%;height:22px;overflow:hidden;padding:2px 10px 2px;box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.10) inset;border:1px solid #ccc;border-top:none;background:#fff;color:#808080;line-height:18px;font-size:12px;    resize: none;}
.webim_chat_window .sendbox_mod_r .sendbutton{width:60px;height:29px;border:0;cursor: pointer;color:#403f3f;}
.private_dialogue_cont_list .WB_empty{padding-top:120px;text-align:center;font-size:14px;color:#969292;}




